@import url('https://fonts.googleapis.com/css2?family-Nunito:wght@200,300,400,500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html::-webkit-scrollbar{
    width: 20px;
}

html::-webkit-scrollbar-track{
    background: black;
}

html::-webkit-scrollbar-thumb{
    background: white;
}

body{
    background: black;
}