@import url('https://fonts.googleapis.com/css2?family-Nunito:wght@200,300,400,500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html::-webkit-scrollbar{
    width: 20px;
}

html::-webkit-scrollbar-track{
    background: black;
}

html::-webkit-scrollbar-thumb{
    background: white;
}

body{
    background: black;
}

.container{
    padding: 9%;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container .text{
    color: #fff3;
    font-size: 5em;
    padding: 30px;
    cursor: pointer;
}

.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

img{
    width: 650px;
    height: 450px;
}