@import url('https://fonts.googleapis.com/css2?family-Nunito:wght@200,300,400,500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background: black;
}

html::-webkit-scrollbar-thumb{
    background: blue;
}

body{
    background: black;
}

.container{
    padding: 9%;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container .text{
    color: blue;
    font-size: 5em;
    padding: 40px;
    cursor: pointer;
    text-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.container .text:hover{
    color: rgba(0, 0, 255, 0.667);
    position: relative;
    z-index: 100;
}

.container .text:hover ~ .hover-img{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) scale(.5);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

img{
    width: 430px;
    height: 230px;
    object-fit: cover;
}